{% extends "layout.html" %}

{% block container %}
    <div class="animate__animated animate__zoomIn">
        <h1>Crear Categoria</h1>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="nombre" 
                    id="nombre"
                    value="{% if nombre %}{{nombre}}{% endif %}"
                    required
                >
            </div>
            <div class="form-group">
                <input class="form-control btn btn-primary mt-2" type="submit" value="Crear Categoria" {% if errorDB %}disabled{% endif %}>
            </div>
        </form>

        {% if error %}
            {% for e in error%}
                <p class="alert alert-danger mt-2">{{e}}</p>
            {% endfor %}
        {% endif %}
        {% if errorDB %}
            <p class="alert alert-danger mt-2">{{errorDB}}</p>
        {% endif %}
    </div>
{% endblock %}