{% extends "layout.html" %}

{% block container %}
    {% load static %}
    <div class="animate__animated animate__zoomIn contenedor">
        <h1>Editar Producto</h1>
        {% if error %}
            {% for e in error%}
                <p class="alert alert-danger mt-2">{{e}}</p>
            {% endfor %}
        {% endif %}
        {% if errorDB %}
            <p class="alert alert-danger mt-2">{{errorDB}}</p>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <select class="form-select" name="subcategoria" id="subcategoria" required>
                {% if subcategorias.error %}
                    <option disabled selected>{{subcategorias.nombre}}</option>
                {% else %}
                    {% for subcategoria in subcategorias %}
                        <option value="{{subcategoria.id}}" {% if subcategoria.id == producto.subcategoria.pk %} selected {% endif %}>{{subcategoria.nombre}}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="nombre" 
                    id="nombre"
                    value="{% if producto %}{{producto.nombre}}{% endif %}"
                    autoComplete="off"
                    required
                >
            </div>
            <div class="form-group">
                <label for="precio">Precio:</label>
                <input 
                    class="form-control" 
                    type="number" 
                    name="precio" 
                    id="precio"
                    value="{% if producto %}{{producto.precio}}{% endif %}"
                    autoComplete="off"
                    required
                >
            </div>
            <div class="form-group">
                <label for="cantidad">Cantidad:</label>
                <input 
                    class="form-control" 
                    type="number" 
                    name="cantidad" 
                    id="cantidad"
                    value="{% if producto %}{{producto.cantidad}}{% endif %}"
                    autoComplete="off"
                    required
                >
            </div>
            <div class="form-group">
                <label for="descr">Descripcion:</label>
                <textarea 
                    class="form-control" 
                    type="text" 
                    name="descr" 
                    id="descr"
                    autoComplete="off"
                    required
                >{% if producto %}{{producto.descripcion}}{% endif %}</textarea>
            </div>
            <div class="form-group">
                <input class="form-control mt-2" type="file" id="imagen" name="imagen">
            </div>
            <div class="imagen_formulario">
                <img src="{% if producto.imagen %}/media/{{producto.imagen}}{% else %}{% static "img/logo.png"%}{%endif%}" alt="Imagen {{producto.nombre}}">
            </div>
            <div class="form-group">
                <input class="form-control btn btn-primary mt-2 mb-4" type="submit" value="Editar Producto" {% if subcategorias.error or errorDB %}disabled{% endif %}>
            </div>
        </form>
    </div>
{% endblock %}