{% extends "layout.html" %}

{% block container %}
    {%load static%}
    <div class="contenedor">
        <h1>Listado Productos</h1>
    </div>
    <div id="contenedorAlerta" class="mt-2 contenedor">{% if errorDB %}<h2 class="alert alert-danger">{{errorDB}}</h2>{%endif%}</div>
    {% if productos %}
    <div id="contenedorProductos" class="contenedor grid__productos ">
        {% for producto in productos %}
            <div class="producto__card animate__animated animate__fadeInUp">
                <div class="producto__header">
                    <div class="producto__categoria">
                        <h3>{{producto.subcategoria}}</h3>
                    </div>
                    <div class="producto__opciones">
                        <div>
                            <a href="{% url 'editar_producto' producto.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                                    <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                                    <line x1="16" y1="5" x2="19" y2="8" />
                                </svg>
                            </a>
                        </div>
                        <div>
                            <a class="eliminarProductos" data-eliminar="{{producto.id}}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <line x1="4" y1="7" x2="20" y2="7" />
                                    <line x1="10" y1="11" x2="10" y2="17" />
                                    <line x1="14" y1="11" x2="14" y2="17" />
                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="producto__body">
                    <div class="producto__img">
                        <img src="{% if producto.imagen %}/media/{{producto.imagen}}{% else %}{% static "img/logo.png"%}{%endif%}" alt="Imagen {{producto.nombre}}">
                    </div>
                    <div class="producto__text">
                        <h2>{{producto.nombre}}</h2>
                        <p>Descripcion: {{producto.descripcion}}</p>
                        <p>Precio: $ {{producto.precio}}</p>
                        <p>Cantidad: {{producto.cantidad}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <script src="{% static "js/producto.js" %}"></script>
{% endblock %}