{% extends "usuarios/base.html"%}

{% block container %}

    <div>
        <h1 class="auth__title">Registrarse</h1>
        {% if error %}
            <p id="error" class="alert alert-danger mt-2">{{error}}</p>
        {% endif %}
        <form class="auth__formulario" method="POST" action={% url "signup_usuario" %}>
            {% csrf_token %}
            <label class="auth__label" for="nombre">Nombre</label>
            <input 
                class="auth__input" 
                type="text" 
                name="nombre"
                autoComplete="off"
            />
            <label class="auth__label" for="apellido">Apellido</label>
            <input 
                class="auth__input" 
                type="text" 
                name="apellido"
                autoComplete="off"
            />
            <label class="auth__label" for="correo">Email</label>
            <input 
                class="auth__input" 
                type="email" 
                name="correo"
                autoComplete="off"
            />
            <label class="auth__label" for="password">Password</label>
            <input class="auth__input" type="password" name="password"/>
            <input class="auth__submit pointer" type="submit" value="Registrarse"/>
        </form>
        <hr />
        <div className="auth__texto center">
            <a class="link center" href={% url "login_usuario" %}>Ya estas registrado?</a>
        </div>
    </div>
{% endblock %}